<!--The content below is only a placeholder and can be replaced.-->
<p>Welcome to my world</p>
<div class="container">
   <br><br>
    
    <div class="alert alert-dark" role="alert">
       <strong>{{heading}}</strong> 
        <div *ngFor="let user of userList">
         {{user.username}} : {{user.userrole}}
        </div>

        <br><br>
        <strong>Check for the User access: </strong>
        
        <input #username
        (keyup.enter)="OnUser(username.value)">
      </div>

 
 
  <br><br>
  <div *ngIf=userIn>

      <div class="alert alert-primary" role="alert">
          {{userIn.username}} is {{userIn.userrole}}
        </div>
  

  
  <br><br>
  <h1>Routes</h1>
<nav>

  <br>
  <a routerLink="/bedroom" routerLinkActive="active">bedroom</a>
  <br>
  <a routerLink="/kidsbedroom" routerLinkActive="active">kidsbedroom</a>
  <br>
  <a routerLink="/kitchen" routerLinkActive="active">kitchen</a>

</nav>

<br>
<br>

  <p>Please check for access Info</p>
<router-outlet></router-outlet>
</div>
</div>